<section class="cmspage mtb-40">
    <div class="container">
      <h1>About Us</h1>
      <div class="page-desc">
        <p>Code Rush provides tutorials of different programming languages and Computer subjects.  The main purpose of this website is to provide quality learning content for students and professionals. we understand your attachment with the content, so committed for delivering you the best possible material.

Code Rush website is all about creativity and innovative work in the field of Technology.</p>
        <p>We provide web development course videos, Technology videos, and Articles.
      </div>
    </div>
</section>